<h1>Reactテスト</h1>
<p>Reactの呼び出しテスト</p>
<hr>
<%# ReactのJSX処理呼び出し %>
<%= javascript_pack_tag 'hello_react' %>

<% (1..4).each do |i|  %>
<div id="test<%=i%>">
  <%# ここの要素にReactで値を埋め込む %>
</div>
<% end %>
